
.header {
    // Reduje el valor por defecto para que el usuario tenga la ilusión de que la pagina continue, en caso de que clip-path no funcione en el browser.
    height: 85vh;
    // la imagen por defecto deberia ser la mas pequeña a menos que el pixel density amerite usar una imagen mas grande
    background-image: linear-gradient(to left bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    // en este caso los valores del feature query no importan mucho, es solo para probar que
    // la propiedad funciona o no
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        height: 95vh; // si clip-path si funciona, entonces se aplica el valor original antes de hacer la pagina responsive.
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

    // Responsive images:
    // Aplica a imagenes cuyo source está dentro del HTML (a diferencia de los background-images, por ejemplo)
    // Tipos:
    // Resolution switching y densitiy switching:
    // cuando se necesita mostrar la misma imagen pero con diferente resolución
    // Art direction:
    // cuando se necesita mostrar una imagen completamente diferente

    // Density switching:
    // Se aplica en las imagenes del HTML por medio del atributo srcset.
    // Para comprobar que funciona, hacer hover en las devtools del atributo srcset, y hay un label que dice: "Current source"


    // 192dpi: standard de Apple retina
    // la segunda condición es para que no se aplique en dispositivos con un high dpi (porque no tiene sentido mostrar una imagen
    // de 2k en un dispositivo que tiene un width menor a 600px)
    // Por ejemplo, en un dispositivo con 2x y width de 600px: 600px * 2 sería 1200px, por lo que se estarian desperdiciando los pixels de la imagen grande (2000px)
    // También es necesario para cuando el viewport es muy ancho (2000px >)
    // Recordar que los media queries van en em
    // (600px de min-width / 16) = 37.5 em
    // (2000px de min-width / 16) = 125 em
    @media (min-resolution: 192dpi) and (min-width: 37.5em),
           // min-resolution no está soportado por safari, en cambio se usa esta
           (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
           (min-width: 125em) {
        background-image: linear-gradient(to left bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);;
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo {
        height: 3.5rem;
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
