*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Esto define lo que significa 1rem en el resto del proyecto
    // es una configuración global mas que algo relacionado a tipografia,
    // por lo que es mejor dejarlo aqui
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
