.container {
    // Si es menor a 120rem, ocupará el 100% del width.
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
}

.header {
    font-size: 1.4rem; // para que se herede en todo el componente
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: var(--line);

    display: flex;
    // space between divide el contenido disponible entre los elementos
    justify-content: space-between;
    // alinea los items en el cross axis
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    // valores: flex-growth, flex-shrink, flex-basis
    // flex basis como es un porcentaje, se ajustará al width y no es un valor fijo
    flex: 0 0 18%;

    // column para poder usar justify content verticalmente
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hotel-view {
    background-color: var(--color-white);

    // flex 1 para que ocupe el resto del espacio disponible (82%).
    flex: 1;

    // Para testing mientras se programa el sidebar, quitar después
    // background-color: orange;
    // height: 80rem;
}

.detail {
    // para que se herede tanto en description como en user-reviews
    font-size: 1.4rem;
    display: flex;
    // para que la distancia del padding y el margin-right entre columnas sea la misma
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {

    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
    padding: 3rem;

    // recordar usar porcentaje, nunca un valor fijo, para hacerlo más responsive.
    flex: 0 0 60%;
    // espacio entre las columnas
    margin-right: 4.5rem;
}

.user-reviews {
    // para que ocupe el espacio restante
    flex: 1;

    // No es buena idea usar text-align center acá, porque también alinea el texto de las reviews.
    // text-align: center;

    // Para que todos los elementos estén en el centro (pero el objetivo principal es centrar el link de "Show all"
    display: flex;
    flex-direction: column;

    // para hacer override del stretch, que hace que el link de "show all" ocupara todo el espacio disponible,
    // haciendo que se viera un border-bottom enorme que cubria todo el width.
    align-items: center;

}
